#section-location {
  position: relative;

  .info--wrapper {
    @media screen and ( min-width: $width-md + 1 ) {
      //position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
      background-color: #D1D6D2;
    }
  }

  .flex--wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    @media screen and (max-width: $width-md) {
      flex-direction: column;
    }
  }
  .flex--item {
    width: 33%;
    text-align: center;
    @media screen and (max-width: $width-md) {
      width: 100%;
      padding-bottom: 15px;
    }
  }

  .info--text {
    @media screen and (max-width: $width-md) {
      order: 2;
    }
    .address {
      color: #585756;
      padding-top: 30px;
    }
    .existing-patient-text {
      color: #585756;
      padding-bottom: 15px;
    }
    .existing-patient-number {
      color: #585756;
      font-weight: 700;
      &:hover {
        text-decoration: none !important;
      }
    }
    .info--map-link {
      color: #4990E2;
      text-decoration: underline;
      font-size: 16px;
    }
    @include social-media-link('facebook');
    @include social-media-link('yelp');
    @include social-media-link('instagram');
    @include social-media-link('youtube');
  }

  .info--logo {
    a:hover {
      text-decoration: none !important;
    }
    h5 {
      color: #585756;
    }
    img {
      max-width: 300px;
    }
  }

  .info--contact {
    .new-patient-text {
      padding-top: 30px;
      color: #4D4D4D;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 15px;
      @media screen and (max-width: $width-md) {
        padding-top: 0;
      }
    }
    .new-patient-number {
      color: #4D4D4D;
      line-height: 1;
      font-family: $ff-lato;
      font-weight: 700;
      a:hover {
        color: #4D4D4D;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }

  #google-map5, .map--wrapper {
    height: 550px;
    @media (max-width: $width-md) {
      height: 300px;
    }
  }

  .social-media-links {
    text-align: center;
    width: 100%;
    a {
      float: none !important;
    }
    padding-bottom: 30px;
  }

  @include social-media-link('facebook');
  @include social-media-link('yelp');
  @include social-media-link('google');
  @include social-media-link('google-plus');

}


