#cta-one {
  padding-top: 20px;
}
/// Call to Action Three to One Layout
.cta__three-to-one {
  background-image: url(/assets/cta-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-color: #D1D6D2;

  .flex--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-top: 15px;
    padding-bottom: 30px;
    @media screen and (max-width: $width-md) {
      flex-direction: column;
      align-items: center;
    }
  }
  .flex--item {
    width: 33%;
    @media screen and (max-width: $width-md) {
      width: 100%;
    }
  }
  .icon--wrapper {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .new-patient {
    text-align: center;
    .text {
      color: #56784F;
      font-family: $ff-poppin;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    &-number {
      color: #424242;
      font-family: $ff-lato;
      font-weight: 700;
      margin-bottom: 0;
      line-height: 1;
      @include font-size(39px, 35px, 30px, 28px, 28px);
      a {
        @include link-color(#424242);
        &:hover {
          text-decoration: none;
        }
      };
    }
    @media screen and (max-width: $width-md) {
      text-align: center;
      padding-bottom: 15px;
    }
  }

  .btn {
    &--wrapper {
      text-align: center;
      padding-bottom: 5px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .existing-patient {
    text-align: center;
    .text {
      color: #537C85;
      font-family: $ff-poppin;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    &-number {
      color: #424242;
      font-family: $ff-muli;
      font-weight: 400;
      margin-bottom: 0;
      line-height: 1;
      a {
        @include link-color(#424242);
        &:hover {
          text-decoration: none;
        }
      };
    }
    @media screen and (max-width: $width-md) {
      text-align: center;
      padding-top: 15px;
    }
  }
}
#cta-two {
  h2 {
    margin-bottom: 15px;
  }
}