#section-services {

  //Colors



  .heading {
    text-align: center;
    h2 {
      color: #436972;
      text-align: center;
      margin-bottom: 0;
      padding-top: $spacing-md;
      padding-bottom: $spacing-sm;

    }
    p {
      color: $c-grey;
      padding-bottom: $spacing-md;
      a {
        @include link-color(#277D86);
        text-decoration: underline;
      }
    }
  }

  .services__slab {
    background-size: cover;
    background-position: center center;
    &--1 { background-image: url('/assets/services/COSMETIC.jpg'); }
    &--2 {
      background-image: url('/assets/services/IMPLANTS.jpg');
      background-position: 20% center;
    }
    padding-top: 200px;
    padding-bottom: 200px;
    @media screen and (max-width: $width-md - 1) {
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: #ffffff;
      background-image: none;
    }
    h2 {
      color: #436972;
    }
    p {
      color: #585756;
    }
  }

  .services-carousel {
    h5 {
      text-align: center;
      color: #545454;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 10px;
    }
    .container {
      padding: 0 25px;
    }
  }
  .services-carousel--wrapper {
    padding: 30px 60px;
    background-color: #D5DAD7;
    border-radius: 15px;
  }
  .services-carousel--image {
    @include hover-plus();
  }

  .service-modal-wrapper {
    h5 {
      margin-bottom: 0;
    }
    img {
      max-width: 200px;
      @media screen and (max-width: $width-sm) {
        display: none;
      }
    }
    .modal-image {
      text-align: center;
      margin-bottom: 15px;
    }
  }
  .section__more-services {
    padding-bottom: 30px;
    background-color: rgba(213, 218, 215, 0.25);
  }
}
